@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}


$clr-primary: #ee6352;
$clr-body: #333;
$clr-bg: #ddd;


body {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  min-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: $clr-body;
  background: $clr-bg;
}

.content-sub {
  min-height: 90vh;
}

.content {
  background: white;
  min-width: 70vw;
  height: auto;
  padding: 3em;
  padding-top: 1em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  position: relative;
}

.heading {
  margin: auto;
}




$tablet: 768px;
$small-mobile: 380px;
@media screen and (max-width: $tablet) {
  .content {
    padding: 0.5rem;
    padding-top: 2rem;
  }
}

@media screen and (max-width: $small-mobile) {
  
}